<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEBKONTROL</title>
  <style>
    body {
      font-family: "Ubuntu", Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      margin: 0;
    }
    form {
      text-align: center;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>SET URL</h1>
  <p>Current: <b>{{ cur_url }}</b></p>
  <P><a href="{{ cur_url }}" target="_blank">View</a></P>
  <P><a href="/reload">Reload</a></P>
  <P><a href="javascript:set_clock()">Internal Clock</a></P>
  <form action="/set_url" method="post"><input id="url_input" type="url" name="url"><input type="submit" value="Submit"></form>
  
  <script>
    function set_clock(){
      document.getElementById("url_input").value = "http://127.0.0.1:8080/clock"
    }
  </script>

</body>
</html>