@import "../../../styles/variables/sections.less";

section.content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.centered {
    align-items: center;
  }

  padding: 20px; // Default: pad-m

  &.pad-none {
    padding: 0;
  }
  &.pad-xs {
    padding: 5px;
  }
  &.pad-s {
    padding: 10px;
  }
  &.pad-m {
    padding: 20px;
  }
  &.pad-l {
    padding: 30px;
  }

  width: 100%; // Default: width-100
  &.width-min {
    width: min-content;
  }
  &.width-100 {
    width: 100%;
  }

  height: min-content; // Default: height-min
  &.height-min {
    height: min-content;
  }
  &.height-100 {
    height: 100%;
  }

  z-index: @z-content;
  position: relative;


  &.opaque {
    .sectionStyle(opaque);
  }

  &.glass {
    .sectionStyle(glass);
  }
}