@import "../../../styles/variables/sections.less";

main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  gap: @gap-m;
}
section.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.centered {
    align-items: center;
  }

  padding: 15px 25px; // Default: pad-m

  &.pad-none {
    padding: 0;
  }
  &.pad-xs {
    padding: 9px 13px;
  }
  &.pad-s {
    padding: 10px 18px;
  }
  &.pad-m {
    padding: 15px 25px;
  }
  &.pad-l {
    padding: 20px 32px;
  }
  &.pad-xl {
    padding: 30px 50px;
  }

  width: 100%; // Default: width-100
  &.width-min {
    width: min-content;
  }
  &.width-100 {
    width: 100%;
  }

  height: min-content; // Default: height-min
  &.height-min {
    height: min-content;
  }
  &.height-100 {
    height: 100%;
  }

  z-index: @z-content;
  position: relative;

  &.opaque {
    .sectionStyle(opaque);
  }

  &.glass {
    .sectionStyle(glass);
  }
}
