@import "../../../styles/variables/sections.less";

section.content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.centered {
    align-items: center;
  }

  padding: 20px; // Default: pad-m

  &.pad-none {
    padding: 0;
  }
  &.pad-xs {
    padding: 5px;
  }
  &.pad-s {
    padding: 10px;
  }
  &.pad-m {
    padding: 20px;
  }
  &.pad-l {
    padding: 30px;
  }

  &.opaque {
    .sectionStyle(opaque);
  }

  &.glass {
    .sectionStyle(glass);
  }
}