
.page-base {
  position: relative;
  min-height: 100vh;
  padding: 50px 0;
  background-color: var(--color-background-primary); // TODO: Also defined in app base. Remove?

  display: flex;
  flex-direction: column;
  align-items: center;

  .page-layout, .page-layout *{
    z-index: @z-content;
  }

  .page-layout {
    width: min(80%, 1400px);
    flex-grow: 1;

    display: grid;
    grid-template-areas: 
      "header-logo header-title"
      "sidebar content";
    grid-template-columns: min-content auto;
    grid-template-rows: min-content 1fr;

    // gap: @gap-m @gap-l;


    .page-header.logo {
      padding: @gap-m;
      grid-area: header-logo;
    }
    .page-header.title {
      padding: @gap-m;
      grid-area: header-title;
    }
    .page-sidebar {
      grid-area: sidebar;
    }
    .page-content {
      grid-area: content;
    }
  }
}