

.infoPill {
  @height: 22px;
  @size: 12px;
  @border-width: 1px;
  @transparency-filled: 70%;
  @transparency-skeleton: 20%;
  @transparency-border: 50%;

  .transBgColor(@color, @transparency) {
    background-color: rgba(from @color r g b / @transparency);
  }
  .transBrdrColor(@color, @transparency: @transparency-border) {
    border: @border-width solid rgba(from @color r g b / @transparency);
  }
  .boxShadow(@color) {
    box-shadow: 0 0 8px -3px @color;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  height: @height;
  border-radius: @height;
  
  overflow: hidden;
  
  padding: 2px 10px;
  background-color: var(--color-background-tertiary);
  border: @border-width solid var(--color-border-tertiary);
  font-size: @size;

  &, &.default { // TODO: Refactor to work like the StatusPill
    color: var(--color-text-primary);
    .transBrdrColor(var(--color-background-tertiary));
    .boxShadow(var(--color-background-tertiary));

    &.filled {
      .transBgColor(var(--color-background-tertiary), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-tertiary), @transparency-skeleton); // Was secondary
      .transBrdrColor(var(--color-background-secondary));
    }

  }
  &.accent {
    color: var(--color-text-acc);
    .transBrdrColor(var(--color-background-acc));
    .boxShadow(var(--color-background-acc));

    &.filled {
      color: white;
      .transBgColor(var(--color-background-acc), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-acc), @transparency-skeleton);
    }
  }
  &.success {
    color: var(--color-text-success);
    .transBrdrColor(var(--color-background-success));
    .boxShadow(var(--color-background-success));

    &.filled {
      .transBgColor(var(--color-background-success), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-success), @transparency-skeleton);
    }
  }
  &.danger {
    color: var(--color-text-danger);
    .transBrdrColor(var(--color-background-danger));
    .boxShadow(var(--color-background-danger));

    &.filled {
      .transBgColor(var(--color-background-danger), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-danger), @transparency-skeleton);
    }
  }
  &.warning {
    color: var(--color-text-warning);
    .transBrdrColor(var(--color-background-warning));
    .boxShadow(var(--color-background-warning));

    &.filled {
      .transBgColor(var(--color-background-warning), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-warning), @transparency-skeleton);
    }
  }
  &.info {
    color: var(--color-text-info);
    .transBrdrColor(var(--color-background-info));
    .boxShadow(var(--color-background-info));

    &.filled {
      .transBgColor(var(--color-background-info), @transparency-filled);
    }
    &.skeleton {
      .transBgColor(var(--color-background-info), @transparency-skeleton);
    }
  }
}