:root{

    --bg-color: #1c1c1f;
    --bg-color-light: #202024;
    --bg-color-dark: #0d0d0e;

    --ac-color: #cc0033;
    --ac-color-light: rgb(255, 0, 0);
    --ac-color-dark: rgb(150, 0, 0);
    --text-color: white;

}



@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-Regular.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-Regular.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-Regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-Bold.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-Bold.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-Italic.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-Italic.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-Italic.woff2") format("woff2");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-BoldItalic.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-BoldItalic.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-Light.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-Light.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-Light.woff2") format("woff2");
    font-weight: lighter;
}
@font-face {
    font-family: "DSEG7 Modern";
    src: url("fonts/DSEG7-MODERN/DSEG7Modern-LightItalic.ttf") format("ttf"), url("fonts/DSEG7-MODERN/DSEG7Modern-LightItalic.woff") format("woff"), url("fonts/DSEG7-MODERN/DSEG7Modern-LightItalic.woff2") format("woff2");
    font-weight: light;
    font-style: italic, oblique;
}



body::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    /*background: rgb(150, 150, 150);*/

}


body::-webkit-scrollbar-thumb {
    background: var(--bg-color-light);
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb:active {
    background: var(--bg-color-dark);
}

::selection {
    /*background: var(--warn-color-dark);*/
    /*color: white;*/
}


body
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Segoe UI', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
    text-align: center;
}


a {
    text-decoration: none;
    color: var(--ac-color);
    transition: 0.1s ease background, 0.1s ease color;
    cursor: pointer;
    font-size: 40px;

}

a:hover, a:active, a:focus, a#active{
    color: var(--text-color);
}

h1{
    margin: 0;
}


/*PAGE*/


body{
    min-height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100%;
    height: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 48%;
}

@media screen and (max-width: 700px) {
    section{
        max-width: 80%;
    }

}
