
section.collection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  width: 100%;
  gap: 1rem;

  header.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .title {
      font-size: 2rem;
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;    
      align-items: stretch;
    }

  }
  .layout.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}