{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent () }}
    <link rel="stylesheet" href="/static/css/config.css">
{% endblock %}

{% block body %}
<aside>
{# <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Synapt Technologies Logo"> --> #}
<h1>WEBKONTROL</h1>
<p>V0.5 <b>Beta</b></p>
</aside>
<main>
{% block main %}{% endblock %}
</main>
{% endblock %}