{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}
<main>
  <section>
    <img src="/static/img/logo.png" alt="Synapt Technologies Logo">
  </section>
</main>
{% endblock %}

