{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}
<main>
  <section>
    <img src="/static/img/logo.png" alt="Synapt Technologies Logo">
    <a> Navigate to </a>
    {% for url in admin_url %}
      <a href="{{ url }}"><b>{{ url }}</b></a>
    {% endfor %}

  </section>
</main>
{% endblock %}

