
.statusPill {
  @dot-size: 6px;

  .dotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dot{
      height: @dot-size;
      width: @dot-size;
      border-radius: @dot-size;
    }
  }
}