<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/tert.png') }}" type="image/x-icon"/>

  <title>WEBKONTROL</title>

  <meta name="author" content="Synapt Technologies">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/no_connect.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/clock.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

</head>
<body>


<main>
  <section>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Synapt Technologies Logo">
    <h1 style="margin-bottom: 20px;" class="clock">
      <span id="clock"></span>
      <span class="bg">88:88:88</span>
    </h1>
    <a><i><b>{{ cur_dom }}</b></i> failed to load.</a>
    <a>Reloading in <b id="countdown">30</b></a>
  </section>
</main>



<script>
  clock = document.getElementById("clock");

  function leadingZero(num) {
    if (num < 10) {
      return "0" + num;
    }
    return num;
  }

  function updateClock() {
    date = new Date();
    clock.innerHTML = leadingZero(date.getHours()) + ":" + leadingZero(date.getMinutes()) + ":" + leadingZero(date.getSeconds());
  }
  setInterval(updateClock, 100);
  
</script>

<script>

  const countdownLength = 30;

  const countdownSpan = document.getElementById("countdown");

  var timeleft = countdownLength;
  for (var i = 0; i < countdownLength; i++) {
    setTimeout(function () {
      countdownSpan.innerHTML = leadingZero(timeleft);
      timeleft -= 1;
    }, i * 1000);
  }



  setTimeout(function () {
    countdownSpan.innerHTML = "...";
  }, countdownLength * 1000);

</script>


</body>
</html>

