// TODO: This only updates on node restart. Why?
.sectionStyle(@variant: opaque, @standalone: false) {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  height: 100%;

  & when not (@standalone = false) {
    border-radius: @border-radius-xl;
    box-shadow: 2px 4px 40px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(80, 80, 80, 1);
    height: min-content;
  }

  // @glass-color-shadow: var(--color-background-tertiary);

  // TODO: More: shadow etc.

  & when (@variant = opaque) {
    background: var(--color-background-secondary);
  }

  & when (@variant = glass) {
    background: rgba(
      from var(--color-background-secondary) r g b / @glass-transparency
    );
    backdrop-filter: blur(@glass-blur);
    -webkit-backdrop-filter: blur(@glass-blur);
    border: 1px solid @glass-border;
  }

  // & when (@variant = glass) {

  //   @glass-color-shadow: @glass-shadow;
  //   @glass-color-background: @glass-background;
  //   @glass-color-border: @glass-border;

  //   border: 1px solid rgba(80, 80, 80, 0.75);

  //   background: rgba(from var(--color-background-secondary) r g b / 50%);
  //   backdrop-filter: blur(@glass-blur);
  //   -webkit-backdrop-filter: blur(@glass-blur);
  //   // box-shadow:
  //   //   0 8px 32px rgba(0, 0, 0, 0.1),
  //   //   inset 0 1px 0 rgba(@glass-color-shadow, 0.5),
  //   //   inset 0 -1px 0 rgba(@glass-color-shadow, 0.1),
  //   //   inset 0 0 8px 4px rgba(@glass-color-shadow, 0.4); // TODO: Derive/move to something in variables?

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     height: 1px;
  //     background: linear-gradient(
  //       90deg,
  //       transparent,
  //       rgba(@glass-color-shadow, 0.8), // TODO: From a variable somehow?
  //       transparent
  //     );
  //   }

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 1px;
  //     height: 100%;
  //     background: linear-gradient( //TODO: From a variable somehow?
  //       180deg,
  //       rgba(@glass-color-shadow, 0.8),
  //       transparent,
  //       rgba(@glass-color-shadow, 0.3)
  //     );
  //   }
  // }
}
