/* Zero values and define base */

@import "./font/font.less";
@import "./variables/themes.less";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: @font-base;
  font-size: 14px;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.25);
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  color: var(--color-text-info);
  text-decoration: none;
}

input,
select {
  font-family: inherit;
}
